:root {
    --ifm-color-primary: #85432e;
    --ifm-color-primary-dark: #783c29;
    --ifm-color-primary-darker: #713927;
    --ifm-color-primary-darkest: #5d2f20;
    --ifm-color-primary-light: #924a33;
    --ifm-color-primary-lighter: #994d35;
    --ifm-color-primary-lightest: #ad573c;
}
