:root {
    --ifm-color-primary: #6e0202;
    --ifm-color-primary-dark: #630202;
    --ifm-color-primary-darker: #5e0202;
    --ifm-color-primary-darkest: #4d0101;
    --ifm-color-primary-light: #790202;
    --ifm-color-primary-lighter: #7f0202;
    --ifm-color-primary-lightest: #8f0303;
    --ifm-background-color: #f0f0f0;
}
