/* For readability concerns, you should choose a lighter palette in dark mode. */
:root {
  --ifm-color-primary: #f9cdcd;
  --ifm-color-primary-dark: #f4a4a4;
  --ifm-color-primary-darker: #f29090;
  --ifm-color-primary-darkest: #ea5353;
  --ifm-color-primary-light: #fef6f6;
  --ifm-color-primary-lighter: #ffffff;
  --ifm-color-primary-lightest: #ffffff;
}
